In [1]:
'''
Estimateur steps :
    read in data (normalize if necessary)
    Train/Test split the data 
    Create Estimateur Feature Columns 
    Create input Estimateur Function 
    Train Estimateur model
    Predict with new Test input function 
    
'''

'\nEstimateur steps :\n    read in data (normalize if necessary)\n    Train/Test split the data \n    Create Estimateur Feature Columns \n    Create input Estimateur Function \n    Train Estimateur model\n    Predict with new Test input function \n    \n'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("iris.csv")

In [4]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [6]:
 '''
  in order to use tensorFlow object there some few thing to respect 
  one thing the actual columns names must mot have any special char
  the target must be an integer
 '''
    #renames the columns 
df.columns = ["sepal_length","sepal_width","petal_length","petal_width","target"]
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2     0.0
1           4.9          3.0           1.4          0.2     0.0
2           4.7          3.2           1.3          0.2     0.0
3           4.6          3.1           1.5          0.2     0.0
4           5.0          3.6           1.4          0.2     0.0

In [7]:
df["target"] = df["target"].apply(int)

In [8]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [9]:
y = df["target"]

In [11]:
x = df.drop("target",axis=1)

In [12]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [13]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [14]:
 from sklearn.model_selection import train_test_split

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [19]:
import tensorflow as tf

In [22]:
#create features columns

In [24]:
x.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [25]:
featcols =[]
for cols in x.columns:
    featcols.append(tf.feature_column.numeric_column(cols))
featcols

[NumericColumn(key='sepal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='sepal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_length', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None),
 NumericColumn(key='petal_width', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [26]:
# create input function or two one for training other for evaluation

In [27]:
input_func = tf.estimator.inputs.pandas_input_fn(x=x_train,y=y_train,batch_size=10,num_epochs=5,shuffle=True)

In [30]:
#create an estimateur

In [48]:
classifier = tf.estimator.DNNClassifier(hidden_units = [10,30,20,1020,10],n_classes=3,feature_columns=featcols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpfnbcfg7q
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpfnbcfg7q', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f4511c45050>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [49]:
# training part

In [50]:
classifier.train(input_fn= input_func,steps=50)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpfnbcfg7q/model.ckpt.
INFO:tensorflow:loss = 10.924178, step = 1
INFO:tensorflow:Saving checkpoints for 50 into /tmp/tmpfnbcfg7q/model.ckpt.
INFO:tensorflow:Loss for final step: 4.7497582.

In [51]:
#evaluate the model

In [52]:
#create prediction function

In [53]:
pred_functi = tf.estimator.inputs.pandas_input_fn(x = x_test,batch_size=len(x_test),shuffle=False)

In [54]:
predictions =list( classifier.predict(input_fn=pred_functi))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpfnbcfg7q/model.ckpt-50
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [55]:
predictions

[{'logits': array([-1.5878639,  1.4007545,  1.2267025], dtype=float32),
  'probabilities': array([0.0266353 , 0.52892977, 0.44443494], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.6354876, -7.480859 , -8.996219 ], dtype=float32),
  'probabilities': array([9.9999332e-01, 5.4693378e-06, 1.2017725e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-4.549236 ,  3.2930598,  4.061719 ], dtype=float32),
  'probabilities': array([1.2440087e-04, 3.1672984e-01, 6.8314576e-01], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.4162121,  1.2862415,  1.064706 ], dtype=float32),
  'probabilities': array([0.03588278, 0.53523785, 0.42887935], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.046892 ,  1.7017535,  1.6624346], dtype=float32),
  'probabilities': array([0.01186383, 0.50377995, 0.48435622], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.195384 , -6.7615356, -8.168896 ], dtype=float32),
  'probabilities': array([9.9997830e-01, 1.7436561e-05, 4.2682723e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.5123309 ,  0.6251712 ,  0.15536444], dtype=float32),
  'probabilities': array([0.16477977, 0.5139428 , 0.3212775 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.3883657,  1.9191775,  1.9897137], dtype=float32),
  'probabilities': array([0.006454  , 0.47926006, 0.514286  ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.6834567,  2.1028898,  2.2745557], dtype=float32),
  'probabilities': array([0.00379978, 0.4554514 , 0.54074883], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.1352072,  1.0914433,  0.8030492], dtype=float32),
  'probabilities': array([0.05808754, 0.53839993, 0.40351254], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.8671886,  1.5840005,  1.4918108], dtype=float32),
  'probabilities': array([0.01631368, 0.5144986 , 0.46918783], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.8711815, -6.2317944, -7.559132 ], dtype=float32),
  'probabilities': array([9.9994814e-01, 4.0955365e-05, 1.0860645e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.7062635, -7.5969634, -9.128377 ], dtype=float32),
  'probabilities': array([9.999945e-01, 4.537057e-06, 9.810466e-07], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.9225667, -6.315771 , -7.65575  ], dtype=float32),
  'probabilities': array([9.9995482e-01, 3.5770656e-05, 9.3665867e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.6354475, -7.4800887, -8.997617 ], dtype=float32),
  'probabilities': array([9.9999332e-01, 5.4737729e-06, 1.2001417e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.1687641 ,  1.1162205 ,  0.83356404], dtype=float32),
  'probabilities': array([0.05484918, 0.5389225 , 0.4062283 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.9339216,  2.2621129,  2.514731 ], dtype=float32),
  'probabilities': array([0.00241546, 0.43612322, 0.5614613 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.2662777,  1.1830478,  0.9247358], dtype=float32),
  'probabilities': array([0.04645802, 0.5380087 , 0.4155333 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.3568418,  1.2453648,  1.0092884], dtype=float32),
  'probabilities': array([0.03976213, 0.53652954, 0.4237083 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-3.0801978,  2.3541083,  2.6554785], dtype=float32),
  'probabilities': array([0.00185235, 0.4244349 , 0.5737127 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.776046 , -6.0756483, -7.381661 ], dtype=float32),
  'probabilities': array([9.9993300e-01, 5.2654381e-05, 1.4263964e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.7872539,  1.5304381,  1.4164865], dtype=float32),
  'probabilities': array([0.01878956, 0.5185276 , 0.4626828 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.9530327, -6.364735 , -7.7147593], dtype=float32),
  'probabilities': array([9.9995840e-01, 3.3039403e-05, 8.5649353e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-3.0184326,  2.3149333,  2.5962071], dtype=float32),
  'probabilities': array([0.00207233, 0.4292501 , 0.56867754], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.3510292,  1.9031442,  1.9501913], dtype=float32),
  'probabilities': array([0.0068876 , 0.48487762, 0.5082348 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.5778487,  2.0387197,  2.171854 ], dtype=float32),
  'probabilities': array([0.00459356, 0.4646214 , 0.5307851 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-3.5847285,  2.675687 ,  3.1388752], dtype=float32),
  'probabilities': array([0.00073733, 0.385945  , 0.61331767], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.8298779,  2.1988242,  2.4135842], dtype=float32),
  'probabilities': array([0.00291495, 0.44521382, 0.55187124], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.7020428, -5.954974 , -7.241959 ], dtype=float32),
  'probabilities': array([9.9991834e-01, 6.3969870e-05, 1.7662200e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.6926086, -5.939522 , -7.2242923], dtype=float32),
  'probabilities': array([9.999163e-01, 6.558167e-05, 1.814738e-05], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.742566 , -7.6552134, -9.19889  ], dtype=float32),
  'probabilities': array([9.9999499e-01, 4.1277240e-06, 8.8165865e-07], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([  5.421046,  -8.764404, -10.473787], dtype=float32),
  'probabilities': array([9.9999917e-01, 6.9077589e-07, 1.2501484e-07], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.2778088,  1.1921475,  0.9349389], dtype=float32),
  'probabilities': array([0.04553168, 0.5382724 , 0.41619596], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.0455036, -6.5160117, -7.888299 ], dtype=float32),
  'probabilities': array([9.9996758e-01, 2.5892732e-05, 6.5644945e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 3.976949 , -6.4036164, -7.7601523], dtype=float32),
  'probabilities': array([9.9996102e-01, 3.1028496e-05, 7.9914316e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.8922184,  2.2353745,  2.4748511], dtype=float32),
  'probabilities': array([0.00260522, 0.43926793, 0.5581268 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.1683079,  1.1156296,  0.8332719], dtype=float32),
  'probabilities': array([0.05489682, 0.5388261 , 0.40627703], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.395859 , -7.0889916, -8.546191 ], dtype=float32),
  'probabilities': array([9.9998736e-01, 1.0284603e-05, 2.3951550e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.5465713, -7.3350015, -8.830176 ], dtype=float32),
  'probabilities': array([9.9999154e-01, 6.9166349e-06, 1.5507753e-06], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([  5.1811495,  -8.372508 , -10.0224   ], dtype=float32),
  'probabilities': array([9.9999845e-01, 1.2993335e-06, 2.4956387e-07], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.4507515,  1.9506333,  2.0534983], dtype=float32),
  'probabilities': array([0.00578154, 0.47156414, 0.52265424], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-0.7030925 ,  0.7822853 ,  0.37357682], dtype=float32),
  'probabilities': array([0.11973865, 0.5288418 , 0.35141957], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.4805222,  1.3320092,  1.1240152], dtype=float32),
  'probabilities': array([0.03207494, 0.5341125 , 0.43381256], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.9649825, -8.018746 , -9.61698  ], dtype=float32),
  'probabilities': array([9.9999726e-01, 2.2974032e-06, 4.6465746e-07], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([ 4.6992598, -7.5849657, -9.116363 ], dtype=float32),
  'probabilities': array([9.9999440e-01, 4.6240893e-06, 9.9988267e-07], dtype=float32),
  'class_ids': array([0]),
  'classes': array([b'0'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.2032619,  1.1387825,  0.8663397], dtype=float32),
  'probabilities': array([0.05174872, 0.5383151 , 0.4099361 ], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.1817868,  1.7842762,  1.7933486], dtype=float32),
  'probabilities': array([0.00934285, 0.49308166, 0.4975754 ], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.206253 ,  1.800082 ,  1.8166881], dtype=float32),
  'probabilities': array([0.00894372, 0.49141386, 0.49964246], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-1.3665221,  1.2533282,  1.0176971], dtype=float32),
  'probabilities': array([0.03908655, 0.5368016 , 0.42411193], dtype=float32),
  'class_ids': array([1]),
  'classes': array([b'1'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)},
 {'logits': array([-2.5487046,  2.0238855,  2.1421237], dtype=float32),
  'probabilities': array([0.00483704, 0.46819913, 0.52696383], dtype=float32),
  'class_ids': array([2]),
  'classes': array([b'2'], dtype=object),
  'all_class_ids': array([0, 1, 2], dtype=int32),
  'all_classes': array([b'0', b'1', b'2'], dtype=object)}]

In [56]:
final_pred = []

for pred in predictions:
    final_pred.append(pred["class_ids"][0])
final_pred

[1,
 0,
 2,
 1,
 1,
 0,
 1,
 2,
 2,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 2,
 1,
 1,
 0,
 0,
 1,
 2,
 2,
 1,
 2]

In [57]:
#final predds

In [58]:
from sklearn.metrics import classification_report,confusion_matrix

In [59]:
print(confusion_matrix(y_test,final_pred))

[[19  0  0]
 [ 0 14  1]
 [ 0  2 14]]

In [60]:
print(classification_report(y_test,final_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       0.88      0.93      0.90        15
           2       0.93      0.88      0.90        16

    accuracy                           0.94        50
   macro avg       0.94      0.94      0.94        50
weighted avg       0.94      0.94      0.94        50